﻿
@{
    ViewBag.Title = "Doanh thu của khách sạn";
}
<script src="~/Scripts/Hotel/revenuepms.js"></script>

<section class="content-header">
    <h1>
        Doanh thu của khách sạn sử dụng PMS
    </h1>
</section>
@*<div class="reservation">
        <div id="kUI_window" style="display:none;">
            @Html.Partial("pListUesrBooking")
        </div>
    </div>*@
<section class="content">
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <div class="form-group has-feedback">
                <label>Tháng</label>
                <select class="form-control" ng-model="filters.month" convert-to-number>
                    @for (int i = 1; i < 13; i++)
                    {
                        <option value="@i">Tháng @i</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-3">
            <div class="form-group has-feedback">
                <label>Năm</label>
                <select class="form-control" ng-model="filters.year" convert-to-number>
                    @for (int i = 2017; i < 2021; i++)
                    {
                        <option value="@i">Năm @i</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-3">
            <div class="form-group has-feedback">
                <label>Trạng thái</label>
                <select class="form-control" ng-model="filters.status" convert-to-number>
                    <option value="-1">Tất cả</option>
                    <option value="1">Dùng thử</option>
                    <option value="2">Dùng thật</option>
                    <option value="3">Yêu cầu gia hạn</option>
                    <option value="4">Đã khóa</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-3">
            <div class="form-group has-feedback">
                <label>Hình thức thanh toán</label>
                <select class="form-control" ng-model="filters.TypePaymentHotel" convert-to-number>
                    <option value="-1">Tất cả</option>
                    <option value="1">Tháng</option>
                    <option value="2">Phần trăm</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="form-group has-feedback">
                <label>Từ khóa</label>
                <div class="input-group">
                    <input ng-model="filters.keySearch" type="text" class="form-control" placeholder="Tên/ Mã khách sạn">
                    <span class="input-group-btn">
                        <button ng-click="GetData()" class="btn btn-info btn-flat" type="button">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>(*) số lượng Order đã đặt nhưng chưa chuyển vào booking. (**) số lượng Order đã đặt và chuyển vào booking. </p>
        </div>
        <div class="col-md-12">
            <div ui-grid="gridOptions" set-grid-height ui-grid-selection ui-grid-resize-columns ui-grid-move-columns
                 ui-grid-pinning ui-grid-pagination ui-grid-exporter ui-grid-auto-resize class="grid"></div>
        </div>
    </div>
</section>



